body{
  background-color: #0b131e;
  color: white;
  margin:0;
  padding: 0;
  
}

.asd{
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; */
}